<div class="jumbotron text-center" style="background-color: #f2f2f2;">
	<h2>Friends!</h2>
</div>

<div class="jumbotron" style="background-color: #f2f2f2;">
	<div class="row">
		<%= render @users %>
	</div>
</div>