<h1>Welcome to Bart & Monica's Photo Gallery, <%= @user.first_name %> <%= @user.last_name %></h1>

<p> Your account is activated! </p>

<p>
	To login to the site, just follow this link <%= @url %>
</p>

<p> Thanks for joining ysand have a great day </p>

