<h1>Welcome to Bart & Monica's Photo Gallery, <%= @user.first_name %> <%= @user.last_name %></h1>

<p>
	You have successfully signed up for our Photo Gallery.
	Your account will be soon activated. 
	Confirmation email will be when send your account is activated!
</p>
